{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": null,
    "color-function-notation": "legacy"
  }
}