@mixin shadow {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.06) 0px 0px 8px;
}

@mixin gradient-shadow {
  filter: drop-shadow(-0.12em 0.08em 0 var(--yellow)) drop-shadow(0.12em -0.08em 0 var(--lightYellow));
}

@mixin heading {
  color: var(--dark);
  filter: drop-shadow(-4px 4px 0 var(--white));
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin input {
  border: 1.5px solid var(--yellow);
  padding: 0.2em 0.6em;
  background-color: var(--white);
  @include radius('small');
}

@mixin button {
  color: inherit;
  background: linear-gradient(to right, var(--yellow), var(--lightYellow));
  background-size: 240% 100%;
  background-position: left;
  transition: all var(--transition-short);
  border: none;
  box-shadow: inset 0 0 0 1.5px rgba(var(--dark-rgb), 0.2);
  font-weight: 700;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }

  &:disabled {
    opacity: 0.65;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    color: var(--white);
    text-shadow: -2px 2px 0 var(--dark), 1px -1px 1px var(--dark);
    background-position: 95% 0;
    transform: scale(1.1);
  }

}

@mixin mediaquery($query) {
  $breakpoints: ('xs': '(min-width: 500px)',
    'sm': '(min-width: 639px)',
    'less-lg': '(max-width: 799px)',
    'lg': '(min-width: 800px)',
    'less-xl': '(max-width: 1149px)',
    'xl': '(min-width: 1150px)',
    'less-xxl': '(max-width: 1449px)',
    'xxl': '(min-width: 1450px)',
    'xxxl': '(min-width: 2000px)',
  );

  @if map-has-key($breakpoints, $query) {
    @media screen and #{map-get($breakpoints, $query)} {
      @content;
    }
  }

  @else {
    @error "ERROR: No breakpoint specified for query '#{$query}'";
  }
}


@mixin glass {
  border: 1px solid rgba(var(--dark-rgb), 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.69), rgba(var(--white-rgb), 0.5));

  @include mediaquery('lg') {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.73), rgba(var(--white-rgb), 0.57));
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  }

  @supports (not(backdrop-filter: blur(8px))) {
    background-image: linear-gradient(to bottom right, rgba(236, 236, 236, 0.85), rgba(var(--white-rgb), 0.95));
  }

  @include shadow;
}


@mixin radius($size) {
  $breakpoints: ('small': '0.2em',
    'medium': '0.3em',
    'big': '0.4em'
  );

  @if map-has-key($breakpoints, $size) {
    border-radius: #{map-get($breakpoints, $size)};
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin reduced-motion-off {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}