@mixin shadow {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.06) 0px 0px 8px;
}

@mixin gradient-shadow {
  filter: drop-shadow(-4px 4px 0 var(--yellow)) drop-shadow(4px -4px 0 var(--lightYellow));
}

@mixin heading {
  color: var(--dark);
  filter: drop-shadow(-4px 4px 0 var(--white));
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin input {
  border: 1.5px solid var(--yellow);
  padding: 0.5rem 1rem;
  background-color: var(--white);
  font-size: 1.3rem;
  @include radius('small');
}

@mixin button {
  color: var(--dark);
  background: linear-gradient(to right, var(--yellow), var(--lightYellow));
  background-size: 240% 100%;
  background-position: left;
  transition: all 300ms ease;
  transition-property: background-size, background-position, transform;
  text-transform: capitalize;
  border: 1px solid rgba(var(--dark-rgb), 0.1);
  text-shadow: -2px 2px var(--white);
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-position: 95% 0;
    transform: scale(1.1);
  }

}

@mixin mediaquery($query) {
  $breakpoints: ('xs': '(min-width: 500px)',
    'sm': '(min-width: 639px)',
    'less-lg': '(max-width: 799px)',
    'lg': '(min-width: 800px)',
    'xl': '(min-width: 1150px)',
    'less-xxl': '(max-width: 1449px)',
    'xxl': '(min-width: 1450px)',
    'xxxl': '(min-width: 2000px)',
  );

  @if map-has-key($breakpoints, $query) {
    @media screen and #{map-get($breakpoints, $query)} {
      @content;
    }
  }

  @else {
    @error "ERROR: No breakpoint specified for query '#{$query}'";
  }
}


@mixin glass {
  border: 1px solid rgba(var(--dark-rgb), 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-image: linear-gradient(to bottom right, rgba(var(--white-rgb), 0.75), rgba(var(--white-rgb), 0.6));



  @include mediaquery('lg') {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.69), rgba(var(--white-rgb), 0.52));
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  }

  @supports (not(backdrop-filter: blur(8px))) {
    background-color: rgba(var(--white-rgb), 0.95)
  }

  @include shadow;
}


@mixin radius($size) {
  $breakpoints: ('small': '3px',
    'medium': '4.5px',
    'big': '6px'
  );

  @if map-has-key($breakpoints, $size) {
    border-radius: #{map-get($breakpoints, $size)};
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin reduced-motion-off {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}