@use '../modules/mixins';

.added-to-cart {
  @include mixins.radius('big');
  @include mixins.flex-center;
  gap: 3rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  z-index: 1;
  padding: 3em 1em;
  width: 80%;
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition-short);
  transition-property: transform, opacity, visibility;

  @include mixins.mediaquery('less-lg') {
    flex-direction: column;
  }


  &--active {
    opacity: 1;
    transform: translateY(-5em);
    visibility: visible;
  }

  @include mixins.mediaquery('lg') {
    padding: 1em 3em;
    gap: 3rem;
    width: max(45vw, 40rem);

    &--active {
      transform: translateY(-2em);

    }
  }


  >svg {
    color: var(--white);
    fill: var(--white);
    stroke: var(--dark);
    stroke-width: 9px;
    font-size: 5rem;
    filter: drop-shadow(-4px 2px var(--yellow)) drop-shadow(4px -2px var(--lightYellow));
  }


  &__close-btn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    padding: 0.4rem 0.9rem;
    @include mixins.radius('small');
    font-size: 1.5rem;
  }

  &__text {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;

    @include mixins.mediaquery('lg') {
      padding-right: 1em;
      text-align: left;
      white-space: nowrap;
    }
  }
}