@use '../modules/mixins';

.added-to-cart {
  @include mixins.glass;
  @include mixins.radius('big');
  @include mixins.flex-center;
  gap: 3rem;
  position: fixed;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%) translateY(2rem);
  z-index: 1;
  padding: 3em 4em;
  opacity: 0;
  visibility: hidden;
  transition: all 270ms ease-in-out;

  >svg {
    color: var(--white);
    fill: var(--white);
    stroke: var(--dark);
    stroke-width: 7px;
    @include mixins.gradient-shadow;
    font-size: 5rem;
  }

  @include mixins.mediaquery('less-lg') {
    flex-direction: column;
  }

  @include mixins.mediaquery('lg') {
    left: 50%;
    top: initial;
    bottom: 7%;
    padding: 1em 3em;
    gap: 3rem;
  }

  &--active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    visibility: visible;
  }

  &__close-btn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    padding: 0.4rem 0.9rem;
    @include mixins.radius('medium');
    font-size: 1.5rem;
  }

  &__text {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;

    @include mixins.mediaquery('lg') {
      padding-right: 1em;
      text-align: left;
      white-space: nowrap;
    }
  }
}