@use '../var';
@use '../modules/mixins';

.added-to-cart {
  @include mixins.flex-center;
  flex-direction: column;
  gap: 3rem;
  @include mixins.glass;
  @include mixins.radius('big');
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 55%;
  padding: 5rem 15vw;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out;
  font-size: 1.5rem;

  @include mixins.mediaquery('xl') {
    left: 55%;
    top: 60%;
    padding: 7rem 2vw;
    font-size: 2rem;
  }

  &--active {
    opacity: 1;
    visibility: visible;

  }


  >svg {
    color: var.$yellow;
    filter: drop-shadow(-1px 2px 0 var.$black);
    font-size: 6rem;

    @include mixins.normal-motion {
      stroke-dashoffset: 600;
      animation: show-svg 450ms ease-in-out forwards;
    }
  }

  &__close-btn {
    position: absolute;
    right: 3%;
    top: 6%;
    cursor: pointer;
    padding: 0.4rem 0.9rem;
    @include mixins.radius('small');
    font-size: 2rem;
    border: 1px solid rgba(var.$black, 0.4);
    background-color: var.$yellow;
    background-image: linear-gradient(to bottom right, var.$yellow, var.$lightYellow);
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__text {
    display: inline-block;
    min-width: 50vw;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}