@use '../modules/mixins';
@use '../modules/animations';

.show-filters {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.5rem;
  min-width: 8em;

  @include mixins.radius('small');

  @include mixins.mediaquery('xl') {
    display: none;
  }

  z-index: 1;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

.filters {

  @include mixins.mediaquery('less-xl') {
    width: 100%;
    opacity: 0;
    transform: translateY(-5rem);
    transition: all var(--transition-long);
    transition-property: opacity, transform;
    margin-top: 2rem;

    &--active {
      opacity: 1;
      transform: translateY(0em);
    }

    &--active+.offers {
      margin-top: 28rem;
    }

  }
}

.filters__form {
  flex-direction: column;
  gap: 1.5rem;
  padding: 2em 0;
  @include mixins.flex-center;
  @include mixins.radius('big');

  @include mixins.mediaquery('less-xl') {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  @include mixins.mediaquery('xl') {
    @include animations.slide-up;
    position: sticky;
    padding: 4vh 1vw;
    top: 5%;
  }

}

.filters__heading {
  text-align: center;
  font-size: 2rem;
}

.price-range-container {
  @include mixins.flex-center;
  flex-direction: column;
  gap: 1rem;

  &__input {
    text-align: center;

    @include mixins.input;

    @include mixins.mediaquery('less-lg') {
      max-width: 70%;
    }

    @include mixins.mediaquery('xl') {
      width: 100%;
    }
  }

}

.input-container {
  flex-direction: column;
  width: 100%;
  font-size: 1.25rem;

  @include mixins.flex-center;

  @include mixins.mediaquery('xl') {
    max-width: 10em;
  }

  >input {
    font-size: 1.5rem;
  }
}



.filters__reset {
  @include mixins.radius('small');
  padding: 0.4rem 1.4rem;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: capitalize;


  &:hover {
    cursor: pointer;
  }
}

.filters__rating-container {
  display: flex;
  flex-direction: column;
}

.stars-container {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;

  &__star {
    position: relative;
    padding: 0.5rem 1rem;
    opacity: 0.6;
    width: 1.75rem;
    height: 1.75rem;

    transition: all var(--transition-short);
    transition-property: opacity, filter;

    &--active {
      opacity: 1;
      filter: drop-shadow(-3px 2.5px 0 var(--yellow)) drop-shadow(3px -3px 0 var(--lightYellow));
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:focus+.stars-container__label>.filters__star-icon {
      outline: 3px solid var(--dark);
      outline-offset: 1px;
    }
  }

  &__icon {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--white);

    cursor: pointer;
  }
}