@use '../modules/mixins';

.offers {
  width: 100%;
  list-style: none;
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  row-gap: 1.5em;
  column-gap: 1em;
  transition: margin 700ms ease-in-out;

  @include mixins.mediaquery('xl') {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: calc(10vh + 8rem);
    padding-left: 2rem;
    row-gap: 2rem;
    column-gap: 2rem;
  }
}