@use '../modules/mixins';
@use '../modules/animations';

.shop-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0.25em 0.75em;
  overflow: hidden;
  position: relative;

  &:hover,
  &:focus {
    >.shop-item__img {
      transform: rotate(-10deg) scale(0.9);
    }
  }

  @include mixins.radius('big');

  @include mixins.mediaquery('xl') {
    @include animations.slide-up;
  }


}

.shop-item__img {
  align-self: center;
  grid-column: span 4;
  grid-row: 2 / 3;
  transition: transform 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;

  >img {
    width: 9rem;
    height: 100%;
    margin-bottom: 1.5rem;
    filter: drop-shadow(0 0 1px var(--dark)) drop-shadow(-0.25em 0.25em 0 var(--yellow)) drop-shadow(0.25em -0.25em 0 var(--lightYellow));
  }
}

.shop-item__name {
  align-items: center;
  display: flex;
  grid-column: span 2;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
  font-size: 1.25rem;
}

.shop-item__cart-btn {
  align-self: center;
  justify-self: flex-end;
  margin-bottom: 0.3rem;
  padding: 0.25em 0.4em;
  font-size: 1.25rem;
  user-select: none;
  @include mixins.radius('small');
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.shop-item__price-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  font-size: 1.25rem;
}

.shop-item__discount {
  color: var(--dark);
  font-weight: 700;
  @include mixins.gradient-shadow;
}

.shop-item__price--discounted {
  text-decoration: line-through;
}

.shop-item__stars-container {
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 1rem;
  justify-self: flex-start;
  @include mixins.flex-center;
}

.shop-item__star {
  color: var(--white);
  filter: drop-shadow(-3px 2.5px 0 var(--yellow)) drop-shadow(3px -3px 0 var(--lightYellow));

  path {
    stroke: var(--dark);
    stroke-width: 21px;
  }
}