@use '../var';
@use '../modules/mixins';

.cart {
  &__heading {
    @include mixins.heading;
    text-align: center;
  }

  &__items {
    @include mixins.flex-center;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    padding: 6rem 0;
  }

  &__hidden-text {
    display: none;
  }

  &__total {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1rem;
    width: 60%;
    gap: 1rem;
    top: 3.75rem;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;

    @include mixins.radius('big');
    @include mixins.glass;

    @include mixins.mediaquery('xl') {
      width: auto;
      padding: 1rem 3rem;
    }

    &--active {
      display: flex;
    }
  }

  &__total-price {
    display: inline-block;
    min-width: 3rem;
    text-align: right;
    font-weight: 700;
  }
}