@use '../modules/mixins';

.cart {
  @include mixins.glass;
  @include mixins.radius('big');
  margin-inline: 2rem;
  padding: 3rem 0;
  min-height: 15rem;

  @media screen and (max-width: 280px) {
    width: 100%;
  }

  @include mixins.mediaquery('lg') {
    width: clamp(32rem, 45vw, 45rem);
    padding: 4rem 1.5rem;
    border-radius: 1rem;
    margin-inline: auto;
    margin-top: 1rem;
  }


  &__heading {
    text-align: center;
    font-size: 3rem;
  }

  &__items {
    @include mixins.flex-center;
    flex-direction: column;
    gap: 3rem;
    list-style: none;

    @include mixins.mediaquery('xl') {
      gap: 2.5rem;
    }


    >.not-found-message {
      text-align: center;
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
    }

  }

  &__hidden-text {
    display: none;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    @include mixins.radius('small');

  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    font-weight: 700;
  }

  &__shipping-price {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__checkout-link {
    @include mixins.radius('big');
    margin-top: 2rem;
    padding: calc(1vh + 0.25rem) 1.25rem;
    width: 100%;
    text-align: center;
    justify-self: center;
    text-decoration: none;
  }


  &__total-container {
    margin: 4rem 1.25rem;
    padding: 2rem 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 2px solid var(--yellow);
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);

    @include mixins.mediaquery('lg') {
      margin: 4rem 2rem;
      margin-bottom: 0;
      gap: 1.5rem;

    }

    &--hidden {
      display: none;
    }
  }

  &__cart__total-price {
    display: inline-block;
    min-width: 3rem;
    text-align: right;
    font-weight: 700;

    @include mixins.mediaquery('xl') {
      min-width: 7rem;
      text-align: left;
    }
  }
}