@use '../modules/_mixins';
@use '../modules/animations';

.cart-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  place-items: center;
  width: 100%;
  position: relative;
  padding: 0 1.25rem;

  @include mixins.mediaquery('lg') {
    padding: 0 2rem;
    @include animations.slide-up;
    opacity: 1;
  }

  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      bottom: -60px;
      height: 20px;
      border-top: 2px solid var(--yellow);
      width: calc(100% - 2.5rem);
      left: 1rem;

      @include mixins.mediaquery('xl') {
        left: 2rem;
        width: calc(100% - 4rem);
      }
    }
  }

  &__img {
    width: calc(25% + 5rem);
    justify-self: flex-start;
    filter: drop-shadow(0 0 1.2px var(--dark)) drop-shadow(-7px 4px 0 var(--yellow)) drop-shadow(7px -4px 0 var(--lightYellow));

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name-container {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    text-align: right;

    @include mixins.mediaquery('xl') {
      gap: 0.2em;
    }
  }

  &__tag {
    font-weight: 700;
  }

  &__change-price {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 0.12em;

    @include mixins.mediaquery('xl') {
      gap: 0.5rem;
    }
  }

  &__button {
    @include mixins.radius('small');
    padding: 0.4em 0.56em;
    font-size: 1.25rem;

    @include mixins.mediaquery('xl') {
      font-size: 1.5rem;
      padding: 0.2em 0.5em;
    }


    &--delete {
      justify-self: flex-end;

    }
  }

  &__input {
    @include mixins.input;
    padding-right: 0;
    text-align: center;
    font-size: 1.5rem;
    max-width: 2.75em;

  }
}