@use '../var';
@use '../modules/mixins';

.cart {
  @include mixins.glass;
  @include mixins.radius('big');
  margin: 0 1rem;
  padding: 3rem 0;
  margin-inline: auto;
  width: min(80%, 30rem);
  min-height: 15rem;

  @media screen and (max-width: 280px) {
    width: 100%;
  }

  @include mixins.mediaquery('xl') {
    width: clamp(25vw, 60rem, 50vw);
    padding: 3rem 3rem;
    border-radius: 1rem;
  }


  &__heading {
    @include mixins.heading;
    text-align: center;
  }

  &__items {
    @include mixins.flex-center;
    flex-direction: column;
    gap: 3rem;
    list-style: none;

    >.not-found-message {
      text-align: center;
      padding: 3rem
    }

  }

  &__hidden-text {
    display: none;
  }

  &__link {
    text-decoration: underline dashed;
    text-decoration-color: var.$black;
    color: var.$yellow;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    font-weight: 700;
  }

  &__shipping-price {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__checkout-link {
    @include mixins.button;
    @include mixins.radius('big');
    padding: 0.5rem 1.25rem;
    margin-top: 2rem;
    justify-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var.$black;
  }


  &__total-container {
    margin: 4rem 2rem;
    padding: 2rem 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 2px solid var.$yellow;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);

    &--hidden {
      display: none;
    }
  }

  &__cart__total-price {
    display: inline-block;
    min-width: 3rem;
    text-align: right;
    font-weight: 700;

    @include mixins.mediaquery('xl') {
      min-width: 7rem;
      text-align: left;
    }
  }
}