@use '../modules/mixins';
@use '../var';

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  place-items: center;
  width: 100%;
  position: relative;
  padding: 0 2rem;

  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      left: 2rem;
      bottom: -60px;
      width: calc(100% - 4rem);
      height: 20px;
      border-top: 2px solid var.$yellow;
    }
  }

  &__img {
    width: 8rem;
    justify-self: flex-start;
    filter: drop-shadow(0 0 1.2px var.$black) drop-shadow(-7px 4px 0 var.$yellow) drop-shadow(7px -4px 0 var.$lightYellow);

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-self: flex-end;
    text-align: right;
  }

  &__tag {
    font-weight: 700;
  }

  &__change-price {
    display: flex;
    gap: 0.5rem;
    justify-self: flex-start;

    @include mixins.mediaquery('lg') {
      justify-self: center;
    }
  }

  &__button {
    @include mixins.button;
    @include mixins.radius('small');
    font-size: 1rem;
    padding: 0.5rem 0.65rem;

    @include mixins.mediaquery('lg') {
      font-size: 1.5rem;
    }

    &:hover {
      cursor: pointer;
    }

    &--delete {
      justify-self: flex-end;

      @include mixins.mediaquery('xl') {
        padding: 0.5rem 1rem;
      }
    }
  }

  &__input {
    width: max(30%, 3.25rem);
    @include mixins.input;
    padding: 0.25rem;
    padding-right: 0;
    text-align: right;
  }
}