@use '../var';
@use '../modules/mixins';

.item {
  @include mixins.glass;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  place-items: center;
  transition: all 1s ease;
  transition-property: transform, opacity;
  font-size: 1.5rem;
  row-gap: 1rem;

  &--active {
    transform: translateY(2rem);
    opacity: 0;
  }

  @include mixins.radius('big');

  @include mixins.normal-motion {
    transform: translateY(1rem);
    opacity: 0.6;
    animation: slide-up 0.75s ease-in-out forwards;
  }

  @include mixins.mediaquery('xl') {
    padding: 0 2rem;
    width: auto;
    min-width: 70%;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
  }
}

.item__img {
  grid-column: span 2;

  >img {
    max-height: 7rem;
    object-fit: contain;
  }

  @include mixins.mediaquery('xl') {
    grid-column: 1 / 2;

    >img {
      max-height: 8rem;
    }
  }

  @include mixins.gradient-shadow;
}

.item__name {
  grid-row: 2 / 3;
  font-weight: 800;

  @include mixins.mediaquery('xl') {
    grid-row: span 1;
    padding-left: 3vw;
  }
}

.item__price {
  display: inline-block;
  min-width: 2.5rem;
  text-align: right;
}

.item__price-container {
  grid-column: 2 / 3;
  text-align: center;
}

.item__name-price {
  font-weight: 400;
}

.item__change-price {
  grid-row: 4 / 5;
  grid-column: span 2;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 40% 1fr;
  place-items: center;
  padding: 0 2rem;

  @include mixins.mediaquery('xl') {
    display: flex;
    min-width: 30rem;
    gap: 5px;
    justify-content: center;
    align-items: center;
    grid-row: span 1;
    grid-column: 3 / 4;
    place-items: center;
    position: relative;
    right: 5%;
  }
}

.item__count {
  grid-row: 2 / 3;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;

  @include mixins.input;

  @include mixins.mediaquery('xl') {
    padding: .5rem;
    max-width: 5rem;
    text-align: right;
  }
}

.item__change-btn {
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background: none;
  cursor: pointer;
  @include mixins.button;
  color: var.$black;
  font-size: 2rem;

  @include mixins.radius('big');

}

.item__delete-btn {
  border-color: transparent;
  background-color: var.$yellow;
  padding: 0.75rem 1rem;
  cursor: pointer;
  grid-row: 3 / 4;
  transition: background-color 300ms ease-in-out;

  @include mixins.button;
  @include mixins.radius('big');

  @include mixins.mediaquery('xl') {
    width: auto;
    height: auto;
    grid-row: span 1;
    grid-column: 4 / 5;
  }
}

.item__pronoun {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#minus {
  grid-row: 2 / 3;
}

#plus {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}