@use '../var';
@use '../modules/mixins';

.illustration {
  display: none;

  @include mixins.mediaquery('xl') {
    display: inline-block;
    filter: drop-shadow(2px 2px 1px var.$black) drop-shadow(-2px -2px 1px var.$white);
    height: 70%;
    position: absolute;
    right: 5vw;
    top: 4rem;
    transform-origin: right;
    width: clamp(30rem, 35vw, 40rem);
  }

  >svg {
    height: auto;
    width: 100%;
  }
}