@use '../var';
@use '../modules/mixins';

.main {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 7vh;
    justify-content: center;
    min-height: 60vh;
    padding: 1.5em;
    position: relative;
    @include mixins.mediaquery('xl') {
      gap: 3em;
      height: auto;
      padding: 4em;
      padding-right: 50%;
    }
    &__heading {
      @include mixins.heading;
      font-size: 3rem;
    }
    &__description {
      animation-delay: 0.8s;
      color: var.$dark;
      font-size: 1.5rem;
    }
    &__button{
      background: linear-gradient(to bottom right, rgba(var.$white, 1), rgba(var.$gray, 1));
      @include mixins.shadow;
      @include mixins.radius('small');
      color: var.$black;
      text-shadow: -2px 2px var.$white;
      font-weight: 700;
      font-size: 1.5rem;
      padding: 0.6rem 0.9rem;
      text-decoration: none;
      transition: all 300ms ease;
      background-size: 300% 100%;
      background-position: left;
      &::selection{
        color: var.$black;
        text-shadow: none;
      }
      &:hover{
        transition: all 300ms ease;
        background-position: 100% 0;
      }
    }
    &__heading, &__description, &__button{
      animation: slide-up 750ms ease forwards;
      opacity: 0;
      transform: translateY(3em);
      @include mixins.mediaquery('xl'){
        animation-duration: 1.75s;
      }
    }
    &__bold{
      color: var.$black;
      font-weight: 700;
      display: inline-block;
      padding: 3px 10px;
      position: relative;
      text-shadow: -2px 2px var.$white;
      &::selection{
        color: var.$black;
        text-shadow: none;
      }
      &::before {
        bottom: 0;
        content: '';
        left: -1.5%;
        height: 100%;
        background: linear-gradient(to bottom right, rgba(var.$white, 0.6), rgba(var.$gray, 1));
        @include mixins.shadow;
        border-radius: 3px;
        position: absolute;
        width: 103%;
        z-index: -1;
      }
    }
  
    &__fire {
      bottom: 0;
      height: 4em;
      right: 2em;
      width: 4em;
    }
    
    &__hands {
      animation-name: popup-right;
      height: 3em;
      right: 1.5em;
      top: 3.5em;
      width: 3em;
    }
    
    &__bear {
      height: 2.5em;
      left: 1.5em;
      top: 4.25em;
      width: 2.5em;
    }
    
    &__fire,
    &__hands,
    &__bear {
      animation: popup-left forwards 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      opacity: 0;
      position: absolute;
      transform: rotate(0deg) scale(0);
  
      > img {
        height: 100%;
        width: 100%;
      }
    }
  
    @include mixins.mediaquery('xl') {
      &__fire,
      &__hands,
      &__bear {
        height: calc(3vw + 1em);
        width: calc(3vw + 1em);
      }
    
      &__fire {
        bottom: 4em;
        left: 15em;
      }
    
      &__hands {
        left: 20em;
        top: 4em;
      }
    
      &__bear {
        left: -1em;
        top: 5em;
      }
    }
  }
  
  @for $i from 1 through 4 {
    .main > span:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.5}s;
    }
  }