@use '../var';
@use '../modules/mixins';

.main {
  min-height: 60vh;
  padding: 1.5rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 7vh;

  @include mixins.mediaquery('lg') {
    padding: 2rem 5rem;
  }

  @include mixins.mediaquery('xl') {
    gap: 3rem;
    height: auto;
    padding: 4rem;
    padding-right: 50%;
  }

  &__heading {
    @include mixins.heading;
  }

  &__description {
    color: var.$dark;
    position: relative;
  }

  &__button {
    @include mixins.radius('small');
    @include mixins.button;
    padding: 0.6rem 1rem;
    text-decoration: none;
    display: inline-block;
    align-self: flex-start;
  }
}


.main__fire,
.main__hands,
.main__bear {
  opacity: 1;
  transform: rotate(-15deg) scale(1);
  position: absolute;

  >img {
    height: 100%;
    width: 100%;
  }
}

.main__fire {
  bottom: -2em;
  height: 4em;
  right: 2em;
  width: 4em;
}

.main__hands {
  transform: rotate(9deg) scale(1);
  height: 3em;
  right: 1.5em;
  top: -3em;
  width: 3em;
}

.main__bear {
  height: 2.5em;
  left: 1.5em;
  top: -3em;
  width: 2.5em;
}

@include mixins.mediaquery('xl') {

  .main__fire,
  .main__hands,
  .main__bear {
    @include mixins.normal-motion {
      animation: popup-left forwards 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      opacity: 0;
      transform: rotate(0deg) scale(0);
    }

    height: calc(3vw + 0.75em);
    width: calc(3vw + 0.75em);
  }

  .main__fire {
    bottom: -2em;
    left: 15em;
  }

  .main__hands {
    animation-name: popup-right;
    right: 0;
    top: -2em;
  }

  .main__bear {
    left: 0em;
    top: -2em;
  }
}


@for $i from 1 through 4 {
  .main>span:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.5}s;
  }
}