@use '../modules/mixins';
@use '../modules/animations';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 7vh;
  font-size: 1.25rem;

  @include mixins.mediaquery('xl') {
    font-size: 1em;
    gap: 3rem;
    justify-content: center
  }

  &__heading {
    @include mixins.heading;
  }

  &__description {
    color: var(--dark);
    position: relative;
    line-height: 2.5rem;

    @include mixins.mediaquery('xl') {
      line-height: 3rem;
      text-shadow: -1px 1px 0 var(--white);
    }
  }

  &__button {
    @include mixins.radius('medium');
    @include mixins.button;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    display: inline-block;
    align-self: flex-start;
  }
}

.emoji {
  opacity: 0;

  @include animations.emoji-popup;

  &__bear,
  &__fire,
  &__hands {
    transform: rotate(-15deg) scale(1);
    position: absolute;

    >img {
      height: 100%;
      width: 100%;
    }
  }

  &__fire {
    bottom: -2em;
    height: 4em;
    right: 2em;
    width: 4em;
  }

  &__hands {
    transform: rotate(9deg) scale(1);
    height: 3em;
    right: 1.5em;
    top: -3em;
    width: 3em;

  }

  &__bear {
    height: 2.5em;
    left: 0em;
    top: -2.5em;
    width: 2.5em;
  }

  @include mixins.mediaquery('xl') {

    &__fire,
    &__hands,
    &__bear {
      height: calc(2.5vw + 0.75em);
      width: calc(2.5vw + 0.75em);
    }

    &__fire {
      bottom: -2em;
      left: 15em;
    }

    &__hands {
      right: 0;
      top: -2em;
    }

    &__bear {
      left: 8em;
      top: -3.5em;
    }
  }

}

.illustration {
  display: none;
  @include animations.slide-up;

  @include mixins.mediaquery('lg') {
    display: inline-block;
    grid-column: 2 / 3;
    filter: drop-shadow(2px 2px 1px var(--dark)) drop-shadow(-2px -2px 1px var(--white));
    right: 5vw;
    top: 0rem;
    transform-origin: right;
    width: clamp(30rem, 35vw, 40rem);
    justify-self: flex-end;
  }

  >svg {
    height: auto;
    width: 100%;
  }
}