@use '../modules/mixins';




.burger-label {
  padding: 0 0.3em;
  display: flex;
  position: absolute;
  z-index: 3;
  left: 2rem;
  top: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  @include mixins.radius('small');
  @include mixins.shadow;

  @include mixins.mediaquery('xl') {
    display: none;
  }

  @mixin bar {
    height: 3px;
    width: 2rem;
    background-color: var(--dark);
    transition: all var(--transition-short);
  }

  &__bar {
    @include bar;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -0.5em;
      @include bar;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0.5em;
      @include bar;
    }
  }
}


.burger-input {
  z-index: -1;
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 0;
  height: 0;
  opacity: 0;

  &:focus+.burger-label,
  &:checked+.burger-label {
    box-shadow: inset 0 0 0 2px var(--dark);
  }
}

.burger-input:checked {
  &~.burger-label>.burger-label__bar {
    background: transparent;
  }

  &~.burger-label>.burger-label__bar::before,
  &~.burger-label>.burger-label__bar::after {
    top: 0;
  }

  &~.burger-label>.burger-label__bar::before {
    transform: rotate(-45deg);
  }

  &~.burger-label>.burger-label__bar::after {
    transform: rotate(45deg);
  }

  &~.nav__list {
    @include mixins.mediaquery('less-xl') {
      flex-direction: column;
      gap: 9vh;
      @include mixins.glass;
      opacity: 1;
      visibility: visible;
    }
  }
}