@use '../var';
@use '../modules/mixins';

.item-count {
  background-color: var.$yellow;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -32%;
  top: -1.5vh;
  transform: translateX(-50%);
  padding: 0.5rem;
  @include mixins.radius('small');
  @include mixins.shadow;

  @include mixins.normal-motion {
    opacity: 0;
    transform: translateX(-50%) translateY(1rem);
    animation: slide-up 800ms ease forwards;
  }
}