@use '../modules/mixins';

.nav {

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 9vh;


    @include mixins.reduced-motion-off {
      transition: all var(--transition-short);
      transition-property: opacity, visibility;
    }


    @include mixins.mediaquery('xl') {
      flex-direction: row;
      gap: 8vw;
      height: auto;
      opacity: 1;
      padding: 0;
      position: static;
    }

  }

  &__svg {
    display: none;
    position: absolute;
    left: -6rem;
    top: -0.8em;
    width: 12em;
    stroke: var(--yellow);

    @include mixins.mediaquery('xl') {
      left: -1.5em;
      top: -1em;
      width: 8.5em;
    }

    >svg {
      height: 100%;
      width: 100%;
    }
  }

  &__link {
    color: var(--dark);
    @include mixins.flex-center;
    flex-direction: column;
    gap: 0.35em;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;


    >svg {
      pointer-events: none;
    }

    &--active>.nav__svg {
      display: inline-block;
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      animation: draw-svg 800ms ease forwards;
      pointer-events: none;

      @include mixins.reduced-motion {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
      }
    }

    &.mobile-cart-btn {
      position: absolute;
      right: 2rem;
      top: 2rem;
      background-color: var(--white);
      padding: 0.4em;
      --size: 3rem;
      width: var(--size);
      height: var(--size);
      font-size: 1.5rem;
      @include mixins.button;
      @include mixins.radius('small');
      @include mixins.shadow;
    }

    @include mixins.mediaquery('xl') {
      flex-direction: row;
      visibility: visible;

      &.mobile-cart-btn {
        display: none;
      }
    }
  }
}