@use '../modules/mixins';

.nav {

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    transition: all 150ms;
    transition-property: opacity, visibility;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;

    @include mixins.mediaquery('less-xl') {
      &--active {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 9vh;
        @include mixins.glass;
        opacity: 1;
        visibility: visible;
      }
    }

    @include mixins.mediaquery('xl') {
      flex-direction: row;
      gap: 8vw;
      height: auto;
      opacity: 1;
      padding: 0;
      position: static;

    }

  }

  &__svg {
    display: none;
    position: absolute;
    left: -4em;
    top: -0.8em;
    width: 12em;
    stroke: var(--yellow);

    @include mixins.mediaquery('xl') {
      left: -1.5em;
      top: -1em;
      width: 8.5em;
    }

    >svg {
      height: 100%;
      width: 100%;
    }
  }

  &__link {
    color: var(--dark);
    @include mixins.flex-center;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;

    >svg {
      pointer-events: none;
    }

    @include mixins.mediaquery('xl') {
      flex-direction: row;
      visibility: visible;
      z-index: 3;

      &.mobile-cart-btn {
        display: none;
      }
    }

    &.mobile-cart-btn {
      z-index: 3;
      background-color: var(--white);
      padding: 0.5rem;
      @include mixins.radius('small');
      @include mixins.shadow;
      margin-right: 2rem;
    }

    &--active>.nav__svg {
      display: inline-block;
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      animation: draw-svg 800ms ease forwards;
      pointer-events: none;

      @include mixins.reduced-motion {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
      }
    }
  }
}