@use '../modules/_mixins';
@use 'nav';
@use 'burger';
@use 'item-count';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 0;

  &__heading {
    display: none;
  }


  @include mixins.mediaquery('xl') {
    justify-content: space-between;
    padding: 3rem 0;
    margin-inline: 5rem;

    &__heading {
      @include mixins.heading;
      letter-spacing: 0.03em;
      display: inline;
      font-size: 3.5rem;
    }
  }
}