@use "var";
@use "modules/_mixins";

@mixin container {
    .footer{
        padding: .5em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 2;
        color: var.$dark;
        >a{
            text-decoration: none;
            font-weight: 700;
            color: var.$yellow;
        }
    }
}