@use 'var';
@use 'modules/_mixins';

.footer {
  color: var.$dark;
  grid-column: span 2;
  padding: 0.5rem;
  margin-top: 6rem;
  border-radius: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(var.$white, 0.8);
  border-top: 1px solid rgba(var.$black, 0.15);
  gap: max(2rem, 10vw);
  z-index: 3;
  > a {
    color: var.$yellow;
    font-weight: 700;
    text-decoration: none;
  }
  &__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  &__item{
    display: flex;
    gap: max(.5rem, 1vh);
    flex-direction: column;
  }
  &__list{
    list-style: none;
  }
  @include mixins.mediaquery('xl'){
    padding: max(3rem, 5vw);
  }
  >iframe{
    display: none;
    @include mixins.mediaquery('xl'){
      display: block;
    }
  }
}



.list__link{
    color: var.$black;
    text-decoration: none;
    margin: 1rem 0;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: max(0.5rem, 0.5vw);
    > span {
      color: var.$yellow;
    }
  }


  .copy-notification{
    opacity: 0;
    transform: translateY(.5rem);
    animation: slide-up 1s ease-in-out forwards;
    @include mixins.gradient;
    padding: 0 0.5rem;
    border-radius: 4px;
    font-weight: 700;
    text-shadow: -1.5px 1.5px 0 var.$white;
  }