@use 'var';
@use 'modules/_mixins';

.footer {
  color: var.$dark;
  grid-column: span 2;
  padding: 2rem 0.25rem;
  margin-top: 6rem;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: max(2vh, 1rem);
  font-size: 1.25rem;

  @include mixins.glass;

  @include mixins.mediaquery('xl') {
    padding: max(3vw, 3rem);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: max(10vw, 2rem);
  }

  &__list {
    list-style: none;
  }


  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  &__copy-notification {
    position: absolute;
    opacity: 0;
    right: -50%;
    transform: translateY(10px);
    padding: 0 0.5rem;
    font-weight: 800;
    text-shadow: -1.5px 1.5px 0 var.$white;

    @include mixins.normal-motion {
      animation: slide-up 1s ease-in-out forwards;
    }

    @include mixins.gradient;
    @include mixins.radius('small');
  }

  &__item {
    display: flex;
    gap: max(.5rem, 1vh);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mixins.mediaquery('xl') {
      align-items: flex-start;
    }
  }

  &__link {
    color: var.$black;
    text-decoration: none;
    margin: 1rem 0;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: max(0.5vw, 0.5rem);
    position: relative;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(-2px 2px 0 var.$yellow) drop-shadow(2px -2px 0 var.$lightYellow);
    }
  }

}




[data-copy] {
  cursor: copy;
}