@use 'modules/_mixins';
@use 'header/nav';
@use 'header/burger';
@use 'header/item-count';

.header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;

  &__heading {
    display: none;
  }


  @include mixins.mediaquery('xl') {
    justify-content: space-between;
    padding: 3rem 0;
    margin: 0 6rem;

    &__heading {
      @include mixins.heading;
      display: inline;
    }
  }
}