@use 'var';
@use 'mixins';

@mixin container {
    .header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        padding: 2.5em 2em;
        >h1{
            display: none;

        }
        @media screen and (min-width: var.$bigScreen) {
            gap: 2em;
            padding: 2em;
            flex-direction: column;
            justify-content: center;
            padding-right: 0;
            >h1{
                display: inline;
                font-size: 3em;
                @include mixins.heading;
            }
        }
    }
    .separator{
        display: none;
        @media screen and (min-width: var.$bigScreen) {
            width: 10%;
            display: none;
            border: 0;
            border-top: 2px solid black;
            border-radius: 20px;
        }
    }
}

@mixin nav {
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__list{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8em;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        list-style: none;
        transition: all 150ms;
        transition-property: opacity, visibility;
        &.active{
            opacity: 1;
            background-color: var.$gray;
            visibility: visible;
        }
        @media screen and (min-width: var.$bigScreen) {
            flex-direction: row;
            position: static;
            background: none;
            height: auto;
            padding: 0;
            opacity: 1;
            gap: 10em;
        }
    }

    .link__anchor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        font-size: 1.5rem;
        gap: .5em;
        color: var.$dark;
        &:focus{
            outline-offset: .6em;
        }
        @media screen and (min-width: var.$bigScreen) {
            visibility: visible;
            flex-direction: row;
            &.additional{
                display: none;
            }
        }
        @keyframes showSvg {
            to{
                stroke-dashoffset: 0;
            }
        }
    }

    .svg{
        position: absolute;
        left: -4em;
        top: -.8em;
        display: none;
        width: 12em;
        stroke: var.$yellow;
        > svg{
            width: 100%;
            height: 100%;
        }
        @media screen and (min-width: var.$bigScreen) {
            left: -1.5em;
            top: -1em;
            width: 8.5em;
        }
    }

    .active > .svg{
        display: block;
        stroke-dasharray: 600;
        stroke-dashoffset: 600;
        > svg{
            animation: showSvg 450ms ease-in-out forwards; 
        }
        @media (prefers-reduced-motion){
            > svg{
                stroke-dasharray: 0;
                stroke-dashoffset: 0;
                animation: none;
            }
        }
    }
}

@mixin burger {
    .burger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 2.5rem;
        height: 2rem;
        background: none;
        border: none;
        z-index: 2;
        position: absolute;
        left: 3em;
        cursor: pointer;
        &__bar{
            width: 100%;
            border-bottom: 3px solid var.$dark;
            transition: transform 300ms ease, opacity 200ms ease;
        }
        &.active{
            .burger__bar{
                filter: none;
            }
            .burger__bar--top{
                transform: translateY(14px) rotate(45deg);
            }
            .burger__bar--middle{
                transform: rotate(-45deg);
            }
            .burger__bar--bottom{
                opacity: 0;
                transform: translateY(-15px);
            }
        }
        @media screen and (min-width: var.$bigScreen) {
            display: none;
        }
    }
}