@use 'modules/animations';
@use 'modules/mixins';
@use 'header';
@use 'footer';
@use 'home';
@use 'shop';
@use 'cart';
@use 'misc';


:root {
  --dark: #1f283d;
  --yellow: #fca311;
  --lightYellow: #FCE305;
  --white: #f8f8f8;
  --dark-rgb: 31, 40, 61;
  --yellow-rgb: 252, 163, 17;
  --lightYellow-rgb: 252, 228, 5;
  --white-rgb: 235, 235, 235;
}

[dark]:root {
  --dark: pink;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--yellow);
  color: var(--dark);
  filter: none;
  text-shadow: none;
}

html,
body {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}

body,
button {
  font-family: 'Montserrat', sans-serif;
}

input,
button {
  font-family: inherit;
}

body {
  background-image: linear-gradient(to bottom left, #e5e5e5 30%, var(--white) 100%);
  background-color: #b8c6db;
  background-image: linear-gradient(350deg, #cdcfd3 0%, #f5f7fa 60%);
  background-size: cover;
  font-size: clamp(calc(1rem + 0.75vw), 16px, 32px);
  color: var(--dark);
}

.locked {
  max-height: 100vh;
  overflow: hidden;

  @include mixins.mediaquery('lg') {
    overflow: visible;
    max-height: unset;
  }
}

.blob-decoration {
  z-index: -1;
  position: absolute;

  &--big {
    left: 0;
    top: 0;
    background-image: url("/images/bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vw;
    min-height: 50vh;

    @include mixins.mediaquery('xl') {
      width: 50vw;
      min-height: 60rem;
    }
  }


  &--small {
    counter-reset: 2;
    $size: clamp(20rem, 60vw, 35rem);
    width: $size;
    height: $size;
    top: 27%;
    right: 6%;
    position: fixed;
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include mixins.mediaquery('xl') {
      position: absolute;
      $size: 33vw;
      width: $size;
      height: $size;
      right: 11vw;
      top: 31vh;
    }
  }
}



.app {
  min-height: 80vh;
  position: relative;
}