@use 'modules/animations';
@use 'modules/mixins';
@use 'header/header.scss';
@use 'footer/footer.scss';
@use 'home/home.scss';
@use 'shop/shop.scss';
@use 'cart/cart.scss';
@use 'misc';


:root {
  --dark: #1f283d;
  --yellow: #fca311;
  --lightYellow: #FCE305;
  --white: #f8f8f8;
  --dark-rgb: 31, 40, 61;
  --yellow-rgb: 252, 163, 17;
  --lightYellow-rgb: 252, 228, 5;
  --white-rgb: 235, 235, 235;
  --transition-short: 200ms ease-in-out;
  --transition-long: 400ms ease-in-out;
}

[dark]:root {
  --dark: pink;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--yellow);
  color: var(--dark);
  filter: none;
  text-shadow: none;
}

::-webkit-scrollbar {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

html,
body {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}

body,
button {
  font-family: 'Montserrat', sans-serif;
}

input,
button {
  font-family: inherit;
}

body {
  background-image: linear-gradient(to bottom left, #e5e5e5 30%, var(--white) 100%);
  background-color: #b8c6db;
  background-image: linear-gradient(350deg, #cdcfd3 0%, #f5f7fa 60%);
  background-size: cover;
  color: var(--dark);
  font-size: clamp(50%, calc(1rem + 2vw), 18px);

  @include mixins.mediaquery('lg') {
    font-size: clamp(16px, calc(1rem + 3vw), 24px);
  }
}

.locked {
  max-height: 100vh;
  overflow: hidden;

  @include mixins.mediaquery('lg') {
    overflow: visible;
    max-height: unset;
  }
}

.blob-decoration {
  z-index: -1;
  position: absolute;

  &--big {
    left: 0;
    top: 0;
    background-image: url("/images/bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 76vw;
    min-height: 20em;

    @include mixins.mediaquery('xl') {
      width: 50vw;
      min-height: 60rem;
    }
  }


  &--small {
    --size: clamp(20rem, 60vw, 35rem);
    width: var(--size);
    height: var(--size);
    bottom: 4rem;
    right: 2%;
    position: fixed;
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include mixins.mediaquery('xl') {
      position: absolute;
      --size: 33vw;
      width: var(--size);
      height: var(--size);
      right: 6rem;
      top: 25vh;
    }
  }
}



.app {
  min-height: 80vh;
  position: relative;
}

.button {
  @include mixins.button;
}

.glass {
  @include mixins.glass;
}