@use 'modules/mixins';

.not-found {
  @include mixins.flex-center;
  min-height: 65vh;
  flex-direction: column;
  gap: 4vh;

  >a {
    background-color: black;
    padding: 1rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.loading {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: calc(10rem + 10vw);
  height: calc(10rem + 10vw);
  filter: drop-shadow(-2px 2px 0 var(--yellow)) drop-shadow(2px -5px 0 var(--lightYellow));
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin: 8px;
  border: 32px solid #fff;
  border-radius: 50%;
  border-color: #fff transparent transparent transparent;
  width: calc(10rem + 10vw);
  height: calc(10rem + 10vw);

  @include mixins.reduced-motion-off {
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  &:nth-child(1) {
    animation-delay: -0.45s;
  }

  &:nth-child(2) {
    animation-delay: -0.3s;
  }

  &:nth-child(3) {
    animation-delay: -0.15s;
  }
}



.bold {
  @include mixins.glass;
  @include mixins.radius('small');
}

.not-found-message {
  font-weight: 800;
  text-shadow: -2px 2px var(--white);
}

.fetch-error {
  text-align: center;
  margin-top: 4em;
  padding: 0 2em;
  font-size: 3rem;
}