@use 'var';
@use 'modules/mixins';

.offline {
  @include mixins.flex-center;
  animation: slide-up 2s ease forwards;
  backdrop-filter: blur(10px);
  background-color: rgba(var.$white, 0.8);
  border: 1px solid var.$white;
  @include mixins.radius('big');
  flex-direction: column;
  font-size: 1.5rem;
  height: 5rem;
  left: 4%;
  position: fixed;
  top: 80%;
  transform: translateY(3em);
  width: 92%;
  @include mixins.mediaquery('xl') {
    left: 35%;
    width: 30%;
  }

  &--active {
    display: none;
  }
}

.not-found {
    @include mixins.flex-center;
    min-height: 50vh;
}

.loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    &__circle{
        animation: rotate-loading 2s linear infinite forwards;
        border-radius: 100%;
        border-top: 5px solid var.$yellow;
        height: calc(10vw + 10rem);
        opacity: 1;
        width: calc(10vw + 10rem);
    }
}