@use 'var';

.offline {
  align-items: center;
  animation: slide-up 2s ease forwards;
  backdrop-filter: blur(10px);
  background-color: rgba(var.$white, 0.8);
  border: 1px solid var.$white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 5rem;
  justify-content: center;
  left: 4%;
  position: fixed;
  top: 80%;
  transform: translateY(3em);
  width: 92%;
  @media screen and (min-width: var.$big-screen) {
    left: 35%;
    width: 30%;
  }

  &--active {
    display: none;
  }
}
