@use 'var';
@use 'modules/animations';
@use 'modules/mixins';
@use 'shop/buttons';
@use 'shop/offers';
@use 'shop/product';
@use 'shop/filters';
@use 'shop/added-to-cart';

.shop-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  @include mixins.mediaquery('xl') {
    flex-direction: row;
    justify-content: flex-start;
  }
}