@use 'modules/animations';
@use 'modules/mixins';
@use 'shop/offers';
@use 'shop/shop-item';
@use 'shop/filters';
@use 'shop/added-to-cart';

.shop-container {
  display: flex;
  margin: 4rem 2rem;

  @include mixins.mediaquery('lg') {
    flex-direction: row;
    padding: 0;
    margin: 2.5rem 6rem;
  }
}