@use 'var';
@use 'modules/animations';
@use 'modules/mixins';
@use 'shop/offers';
@use 'shop/shop-item';
@use 'shop/filters';
@use 'shop/added-to-cart';

.shop-container {
  display: flex;
  padding: 4rem 1rem;

  @include mixins.mediaquery('lg') {
    flex-direction: row;
    justify-content: flex-start;
    padding: 4rem 0;
    margin-inline: 6rem;
  }
}