@use 'modules/animations';
@use 'modules/mixins';
@use 'var';
@use 'header';
@use 'footer';
@use 'home';
@use 'shop';
@use 'cart';
@use 'misc';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var.$yellow;
  color: var.$white;
  text-shadow: -2px 2px var.$black;
}

html,
body {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}

body, button{
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var.$gray;
  overflow-x: hidden;
  position: relative;
  &::before{
    content: "";
    width: 50%;
    height: 100%;
    left: -1%;
    top: -1%;
    background-image: url("/images/bg.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    z-index: -1;
  }
  &::after{
    content: "";
    z-index: -1;
    $size: 90vw;
    width: $size;
    height: $size;
    top: 30%;
    right: 0;
    position: fixed;
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    background-size: contain;
    @include mixins.mediaquery('xl'){
      position: absolute;
      $size: 33vw;
      width: $size;
      height: $size;
      right: 11vw;
      top: 31vh;
   }
  }
  .locked {
    max-height: 100vh;
    overflow: hidden;
  }
}

.app {
  min-height: 78vh;
  position: relative;
}
