@use 'var';
@use 'header';
@use 'footer';
@use 'home';
@use 'loader';
@use 'shop';
@use 'offline';
@use 'modules/animations';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

::selection {
  background: var.$yellow;
  color: var.$white;
}

html,
body {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: var.$gray;

  .locked {
    max-height: 100vh;
    overflow: hidden;
  }
}

.app {
  min-height: 78vh;
  position: relative;
}

.not-found {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

@include header.container;
@include header.nav;
@include header.burger;

@include home.container;
@include home.illustration;
@include home.left-section;

@include footer.container;

@include loader.loader;

@include shop.container;
@include shop.filters;
@include shop.offers;

@include offline.container;
